<div class="homepage-container text-center">
  <h1 class="homepage-title">ReviewRadar</h1>
  <p class="homepage-subtitle">Trustworthy reviews, Simplified.</p>
</div>

<hr class="homepage-divider">

<div class="homepage-search-container text-center">
  <%= form_with url: search_path, method: :get, local: true, class: "d-flex justify-content-center" do %>
    <div class="input-group homepage-search-group">
      <%= text_field_tag :q, params[:q], class: "form-control homepage-search-input", placeholder: "Search..." %>
      <button class="btn btn-primary homepage-search-btn" type="submit">
        Search
      </button>
    </div>
  <% end %>
</div>
