.collapsible-header {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible-header::after {
  content: "\25BC"; /* Down arrow */
  font-size: 12px;
  color: #555;
}

.collapsible-header.active::after {
  content: "\25B2"; /* Up arrow */
}

.collapsible-header.active {
  background-color: #e1e1e1;
}

.hidden {
  display: none;
}
