<div id="<%= dom_id company %>" class="company-card">
  <p class="company-name">
    <strong>Name:</strong>
    <%= link_to "#{company.name}", company %>
  </p>

  <p class="company-url">
    <strong>Url:</strong>
    <%= link_to company.url, company.url %>
  </p>
</div>
