<div id="<%= dom_id company %>" class="company-card">
  <p class="company-name">
    <strong>Name:</strong>
    <%= link_to "#{company.name}", company %>
  </p>

  <hr>

  <p class="company-description">
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <% if request.url != companies_url %>
    <p class="company-url">
      <strong>Url:</strong>
      <%= link_to company.url, company.url %>
    </p>
  <% end%>
</div>
