<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
  <% end %>
</div>

<%= link_to "New company", new_company_path %>
