<div id="<%= dom_id product %>" class="product-card">
  <p class="product-name">
    <strong>Name:</strong>
    <%= link_to "#{product.name}", product %>
  </p>

  <hr>

  <p class="product-description">
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <% if request.url != products_url %>
    <p class="product-company">
      <strong>Company:</strong>
      <%= link_to product.company.name, company_path(product.company) %></p>
  </p>
<% end %>
</div>
