<%= turbo_stream.replace dom_id(@review) do %>
  <%= render partial: 'reviews/review', locals: { review: @review } %>
<% end %>

<%= turbo_stream.replace 'flash' do %>
  <div id="flash">
    <%= render partial: 'shared/flash', locals: { message: flash[:notice] || flash[:alert], css_class: flash[:notice] ? "success" : "danger" } %>
    <script>
      setupAutoDismiss();
    </script>
  </div>
<% end %>
